<div style="font-family: system-ui, sans-serif, Arial; font-size: 16px;">
  <p><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">Hi {{name}},<br><br></span></p>
  <p><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">Thank you for reaching out and for your interest in <span style="color: #000000;">ERPerol.</span></span></p>
  <p><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">We appreciate the opportunity to connect and explore how we might collaborate. </span></p>
  <p><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">Our team will be in touch with you shortly.</span></p>
  <p><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;"><br>Thanks, &nbsp;<br></span><span style="font-size: 12pt; font-family: verdana, geneva, sans-serif;">Team <span style="font-size: 12pt;"><a href="https://erperol.com"><span style="font-family: verdana, geneva, sans-serif;"><strong><span style="color: #e67e23;">ERP<span style="color: #000000;">erol</span></span></strong></span></a></span></span></p>
</div>
